*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(19, 131, 242);
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(88, 165, 243);
    padding: 20px 0;
}

#page2 h1{
    font-size: 40vw;
    font-weight: 400;
    text-transform: uppercase;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(136, 182, 228);
}

