*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#NAV{
    color: #fff;
    display: flex;
    align-items: center;
    background-color: rgb(181, 45, 45);
    justify-content: space-between;
    padding: 30px 50px;
}

#part2{
    display: flex;
    gap: 50px;

}

h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-size: 50px;
    white-space:nowrap; /* ek hi line meh aahyega sentence */
}