*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(234, 167, 85);
    display: flex;
    align-items: center;
    justify-content: center;
}



#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(136, 83, 17);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5px ;
}


#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(74, 43, 6);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    height: 300px;
    width: 300px;
    background-color:burlywood;
    border: 5px solid #fff ;
   
}

h1{
    font-size: 60px;
    position: relative;
    background-color: #fff;
    padding:10px ;
}

h2{
    font-size: 60px;
    position: relative;
    background-color: #e39797;
    padding: 10px;
}