*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: var(--font-sans);
}

body{
  height: 100%;
  width: 100%;
}

.parent{
  height: 100vh;
  width: 100%;
  padding: 30px;
  background-color: #c9c5c5;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  height: 330px;
  width: 280px;
  border-radius: 30px;
  background-color:  #f7f5f2;   
  padding: 30px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  cursor: pointer;

}


.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 25px rgba(0,0,0,0.12);
}

.card .top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
}

.top img{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  padding: 3px;
  border: 1.5px solid gray;
  object-fit: cover;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding:3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #928f8f;
  cursor: pointer;
  transition: 0.3s ease;
}

.card:hover .button {
  background: #4A4A4A;
  transform: scale(1.05);
}

.center h3{
  font-size:medium;
  font-weight: 600;
}

.center h3 span{
  font-size: x-small;
  font-weight: 400;
  color: #b1b1b1;
}

.center h2{
  font-size: 18px;
}

.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
  
}

.center .tag h4{
  font-size: 11px;
  background-color: #dadada;
  color: #111;
  font-weight: bolder;
  padding: 4px 8px;
  border-radius: 5px;
}

.bottom{
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top:15px ;
}

.bottom button{
  height: 20px;
  width: 70px;
  background-color: black;
  border-radius: 5px;
  color: #f7f5f2;
  font-size: x-small;
}

.bottom p{
  font-size: x-small;
  color: #b1b1b1;
}