*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Caveat", cursive;
    color: aliceblue;
}

html,body{
    height: 100vh;
    width: 100%;
}

body{
    background-color: black;

}

#page1,#page2,#page3{
    height: 100vh;
    width: 100%;   
    padding: 5vw 0;
}
 
#move{
    background: linear-gradient(to right, #b4ed4c, #2bcc16, #16a34a);
    display: flex;
    padding: 3vw;
    overflow: hidden;
}
.marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;
    transform: translateX(-100%);
}

.marque h1{
    font-size: 4vw;
    display: inline-flex;
    align-items: center;
    gap: 1vw;
}

.marque i{
    font-size: 4vw;
}